@model string

<div class="alert alert-danger alert-dismissible" role="alert">
    <i class="fas fa-exclamation-circle"></i>
    @Model
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>